body {
  color: #404040;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:   #F8F8F8;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  background-color: #fff;
  color: #444;
}

.flex-container {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa {
  color:  #404040;
  font-size: 8em
}

input {
  background-color: #FFFFFF;
  font-size: 15px;
  border-radius: 5px;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.title {
  font-size: 30px;
}

.text-input {
  align-self: flex-start;
}

.account {
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 20% 50%;
  background-color: #fff;
  color: #444;
}

.user-info {
  align-self: center;
  font-weight: normal;
  font-size: 18px;
}

.user-info table {
  padding-top: 20px;
}

.user-info td {
  padding: 0 40px;
}

/*
td {
  text-align: center;
  padding: 10px 20px;
  font-size: 0.5em;
}
*/
.username {
  margin-bottom: 30px;
  width: 80%;
  text-align: center;
}

.new-case {

}

.btn {
  margin: 0px 10px;
  padding: 0.3em 1em !important;
  border: 1px solid #404040;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #F8F8F8;
  color: #404040;
}

.btn:hover {
  background-color: #404040;
  color: #F8F8F8;
}

.new-case div {
  padding: 0px 10px 0px 10px;
}

.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 24px;
}

.case-subject {
  width: 25em;
}

.case-list {
  align-self: flex-start;
}

/*.subject-column {
  width: 30%;
}
*/
/*.case-list table {
  table-layout: fixed;
}
*/
/*.case-list td {
  font-size: 0.9em;
}*/

.update, .submit {
  font-size: 0.7em;
}

.status {
  justify-content: flex-end;
  width: 164px;
}

.create {
  padding: 0 3em;
}

.line {
  border-bottom: 1px solid #B0B0B0;
}

.case-table {
  width: 75%;
  border-collapse: collapse;
}

.case-table td {
  border-top :1px solid #B0B0B0;
  text-align: center;
  padding: 10px 20px;
  font-size: 0.9em;
}

.case-table tr:hover {
  background-color: #f5f5f5;
}